<% layout('../layout') -%>
<h1><%= title %></h1>
<ul id="task">

</ul>
<input type="text" id="task" name="task"><button onclick="addTask()">Add Task</button>
<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io();

    socket.on("connect",function(){
        socket.emit("tasks","getAll");
    });

    
    socket.on("tasks", function(tasks){
        var taskList = document.getElementById("task");
        taskList.innerHTML = "";
        for (let index = 0; index < tasks.length; index++) {
            const task = tasks[index];
            taskList.innerHTML += `<li>${task}</li>`
        }
    });

    function addTask(){
        var task = document.querySelector('[name="task"]').value;
        console.log(task);
        socket.emit("addTask",task);
    }
</script>