<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to the Task Creator</h1>
    <a href="/tasks">Tasks</a>
  </body>
</html>
